<div class="left">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
        <label>Login:
            <input type="text" class="form-control" formControlName="username"/>
            {{registerForm.controls['username'].status}}
        </label>
        <p></p>
        <label>Hasło:
            <input type="text" class="form-control" formControlName="password"/>
            {{registerForm.controls['password'].status}}
        </label>
        <p></p>
        <label>Email:
            <input type="text" class="form-control" formControlName="email"/>
            {{registerForm.controls['email'].status}}
        </label>
        <p></p>
        <label>Imię:
            <input type="text" class="form-control" formControlName="firstName"/>
            {{registerForm.controls['firstName'].status}}
        </label>
        <p></p>
        <label>Nazwisko:
            <input type="text" class="form-control" formControlName="lastName"/>
            {{registerForm.controls['lastName'].status}}
        </label>
        <p></p>
        <label>Miasto:
            <input type="text" class="form-control" formControlName="city"/>
            {{registerForm.controls['city'].status}}
        </label>
        <p></p>
        <label>Kod pocztowy:
            <input type="text" class="form-control" formControlName="postcode"/>
            {{registerForm.controls['postcode'].status}}
        </label>
        <p></p>
        <label>Adres:
            <input type="text" class="form-control" formControlName="address"/>
            {{registerForm.controls['address'].status}}
        </label>
        <p></p>
        <label>Numer telefonu: (+48)
            <input type="text" class="form-control" formControlName="phone"/>
            {{registerForm.controls['phone'].status}}
        </label>
        <p></p>
        
        <button  type="submit" class="btn btn-dark" [disabled]="!registerForm.valid">Zarejestruj</button>
    </div>
    </form>
</div>