<div>
      <div style="margin-top: 5px;" *ngIf="by=='city'">
          <select style="margin-left: 5px; margin-right: 5px;" [(ngModel)]="by">
              <option value="city">miasto</option>
              <option value="stars">ilość gwiazdek</option>
          </select>
          <input  style="margin-right: 5px;" type="text" [formControl]="valueCity" placeholder="Wprowadź nazwę miasta">
          <button  type="submit" class="btn btn-dark" [disabled]="!valueCity.valid && by=='city'" (click)="navigate()">Filtruj</button>
      </div>

      <div style="margin-top: 5px;" *ngIf="by=='stars'">
          <select style="margin-left: 5px; margin-right: 5px;" [(ngModel)]="by">
              <option value="city">miasto</option>
              <option value="stars">ilość gwiazdek</option>
          </select>
          <select style="margin-right: 5px;" [(ngModel)]="valueStars">
              <option value="ONE">1</option>
              <option value="TWO">2</option>
              <option value="THREE">3</option>
              <option value="FOUR">4</option>
              <option value="FIVE">5</option>
          </select>
          <button  type="submit" class="btn btn-dark" (click)="navigate()">Filtruj</button>
      </div>
</div>


<hotel-list></hotel-list>
