<div  [routerLink]="['/transport/details/', id]" class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="logoUrl">
      <div class="card-body">
          <b>Typ transportu: </b>{{type}}<p></p>
          <b>Klasa: </b>{{transportClass}}<p></p>
          <b>Przewoźnik: </b>{{contractor}}<p></p>
          <b>Z: </b>{{from}}<p></p>
          <b>Do: </b>{{to}}<p></p>
          <b>Liczba miejsc: </b>{{numberOfSeats}}<p></p>
          <b>Cena: </b>{{ticketCost}}<p></p>
      </div>
</div>
