<nav class="navbar navbar-dark bg-dark" >
    <div>
        <a class="btn btn-dark" [routerLink]="['/']">Home</a>
        <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
        <a class="btn btn-dark" [routerLink]="['/register']">Rejestracja</a>
        <a class="btn btn-dark" [routerLink]="['/hotel']">Hotele</a>
        <a class="btn btn-dark" [routerLink]="['/event']">Wydarzenia</a>
        <a class="btn btn-dark" [routerLink]="['/transport']">Środki transportu</a>
        <button class="btn btn-dark"  (click)="logout()">Wyloguj</button>
    </div>
</nav>
