<div [routerLink]="['/event/details/', id]" class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="image">
      <div class="card-body">
          <h4 class="card-title" style="text-align: center;">{{name}}</h4>
          <b>Typ wydarzenia:</b> {{type}}<p></p>
          <b>Miasto:</b> {{city}}<p></p>
          <b>Adres:</b> {{address}}<p></p>
          <b>Start:</b> {{start}}<p></p>
          <b>Koniec:</b> {{end}}<p></p>
          <b>Koszt biletu:</b> {{ticketCost}}<p></p>
          {{description | slice:0:30}}<p></p>
      </div>
</div>
