+<div [routerLink]="['/hotel/details/', id]"  class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="image">
      <div class="card-body">
          <h4 class="card-title" style="text-align: center;">{{name}}</h4>
          <b>Miasto:</b> {{city}}<p></p>
          <b>Adres:</b> {{address}}<p></p>
          <b>Liczba gwiazdek:</b> {{stars}}<p></p>
      </div>
</div>
