<div>
      <div style="margin-top: 5px;" *ngIf="by=='city'">
          <select style="margin-left: 5px; margin-right: 5px;" [(ngModel)]="by">
              <option value="city">miasto</option>
              <option value="type">typ wydarzenia</option>
          </select>
          <input style="margin-right: 5px;" type="text" [formControl]="valueCity" placeholder="Wprowadź nazwę miasta">
          <button  type="submit" class="btn btn-dark" [disabled]="!valueCity.valid && by=='city'" (click)="navigate()">Filtruj</button>
      </div>

      <div style="margin-top: 5px;" *ngIf="by=='type'">
          <select style="margin-left: 5px; margin-right: 5px;" [(ngModel)]="by">
              <option value="city">miasto</option>
              <option value="type">typ wydarzenia</option>
          </select>
          <select style="margin-right: 5px;" [(ngModel)]="valueType">
              <option value="MUSIC">muzyka</option>
              <option value="CULTURE">kultura</option>
              <option value="SPORT">sport</option>
              <option value="HUMOUR">humor</option>
              <option value="ART">sztuka</option>
              <option value="TECHNOLOGY">technologia</option>
              <option value="MOTORIZATION">motoryzacja</option>
          </select>
      <button  type="submit" class="btn btn-dark" (click)="navigate()">Filtruj</button>
      </div>
</div>

<event-list></event-list>
