<div class="center">
    <h2>Zaloguj się</h2><p></p>
    
    <label>Login:
        <input type="text" [(ngModel)]="username">
    </label><p></p>
    <label>Hasło:
        <input type="password" [(ngModel)]="password">
    </label><p></p>

    <div *ngIf="loginFailed==true" style="color: red;">
        Niepoprawne dane!!!
    </div><p></p>

    <button class="btn btn-dark" (click)="login()">
        Zaloguj
    </button>
</div>