<div style="margin-top: 5px;">
    <form [formGroup]="destinationForm" (ngSubmit)="navigate()">
      <input style="margin-left: 5px; margin-right: 5px;" type="text" formControlName="from" placeholder="Z"/>
      <input style="margin-right: 5px;" type="text" formControlName="to" placeholder="Do"/>

        <button style="margin-right: 5px;"  type="submit" class="btn btn-dark" [disabled]="!destinationForm.valid">Filtruj</button>
        <button class="btn btn-dark" [routerLink]="['/transport']"> Wyczyść filtr</button>
    </form>


</div>
<filtered-transport-list [from]="from" [to]="to"></filtered-transport-list>
