<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="image">
      <div class="card-body">
          <h5 class="card-title" style="text-align: center;">{{roomNumber}}</h5>
          <b>Standard:</b> {{standard}}<p></p>
          <b>Ilość łóżek:</b> {{numberOfBeds}}<p></p>
          <b>Koszt dobowy:</b> {{dailyCost}}<p></p>
          <b>Dostępny:</b> {{available}}<p></p>
      </div>
</div>
