<div style="margin-top: 5px;">
    <form [formGroup]="destinationForm" (ngSubmit)="navigate()">
      <input style="margin-left: 5px; margin-right: 5px;" type="text" formControlName="from" placeholder="Z"/>
      <input style="margin-right: 5px;" type="text" formControlName="to" placeholder="Do"/>

        <button type="submit" class="btn btn-dark" [disabled]="!destinationForm.valid">Filtruj</button>
    </form>


</div>
<transport-list></transport-list>
