+<div class="card" style="width: 25rem; margin: 0 auto; margin-top: 5px;">
  +    <img class="card-img-top" [src]="image">
  +    <div class="card-body">
  +        <h4 class="card-title" style="text-align: center;">{{name}}</h4>
  +        <b>Miasto:</b> {{city}}<p></p>
  +        <b>Adres:</b> {{address}}<p></p>
  +        <b>Liczba gwiazdek:</b> {{stars}}<p></p>
       </div>
</div>
<div style="display: inline-block; margin: 10px;" *ngFor="let room of rooms$">
      <room
      [roomId]="room.roomId"
      [roomNumber]="room.roomNumber"
      [hotelId]="room.hotelId"
      [standard]="room.standard"
      [numberOfBeds]="room.numberOfBeds"
      [dailyCost]="room.dailyCost"
      [available]="room.available"
      [image]="room.imageUrl" >
      </room>
  </div>
